/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 8%;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.right {
    left: 0;

    background-image: url('https://cdn.pixabay.com/photo/2019/01/05/16/10/slovakia-3915342_1280.jpg');
    background-size: cover;
    backgroundRepeat: 'no-repeat',
}

/* Control the right side */
.left {
    right: 0;
    background-color: darkgray;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
