/* Split the screen in half */
.splitSignup {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 8%;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.leftSignup {
    left: 0;
    background-color: mediumseagreen;
}

/* Control the right side */
.rightSignup {
    right: 0;
    background-size: cover;
    backgroundRepeat: 'no-repeat';
    background-image: url("https://cdn.pixabay.com/photo/2019/06/25/14/07/dog-4298311_1280.jpg");
}

/* If you want the content centered horizontally and vertically */
.centeredSignup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
