/*.test {*/
/*    color: #61dafb;*/
/*    font-size: 200px;*/
/*}*/
body {
    background: url(http://getwallpapers.com/wallpaper/full/9/8/8/529635.jpg);
    /* Full height */
    height: 100%;
    width: 100%;
    background-size: cover;
}

